.article_box{
   width: 1000px;
   margin: 20px auto;
   display: block;
}
.article{
    width: 700px;
    word-wrap:break-word;
}
.article_title{
    font-size: 28px;
    margin: 0px;
    color: #0f0f0f;
    word-wrap: break-word;
    word-break: normal;
}
.article_describe{
    color: #bbb;
    font-size: 16px;
    position: relative;
    margin: 20px 0px;
}
.article_title_sm{
    color: #a41d1d;
    font-size: 20px;
    font-weight: 700;
}
.article_img{
    max-width: 650px;
    text-align: center;
    padding-left: 25px;
}
.article_text{
    font-size: 16px;
    line-height: 25px;
    margin-top: 25px;
    color: #0f0f0f;
}
.article_text p{
    margin: 0px 0px;
    line-height: 30px;
}
.article_list_box_header{
    background-color: #d1d0d2;
    width: 700px;
    height: 40px;
    color: #0f0f0f;
    line-height: 30px;
    vertical-align: middle;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 5px;
}
.article_list_box{
    margin: 20px auto;
    border: 1px solid red;
    width: 1000px;
    height: 500px;
}
.article_show{
    margin-top:0px;
    margin-left: 0px;
    border: 1px solid red;
    width: 700px;
}
.article_show_title{
    text-align: left;
}
.article_show_text{
    text-align: left;
}
.article_show_footer{
    text-align: right;
}