.article_box{
    width: 1000px;
    margin: 20px auto;
    display: block;
}
.article{
    width: 700px;
    word-wrap:break-word;
}
.article_title{
    font-size: 28px;
    margin: 0px;
    color: #0f0f0f;
    word-wrap: break-word;
    word-break: normal;
}
.article_describe{
    color: #bbb;
    font-size: 16px;
    position: relative;
    margin: 20px 0px;
}