#article_share_box{
    position: fixed;
    width: 40px;
    height: 200px;
    z-index: 50;
    right: 100px;
    top: 120px;
}
#article_share_box a{
    width: 40px;
    height: 40px;
    padding: 0px;
    margin: 0px;
}
#article_share_box a.bds_weixin{
    background: url(../image/share_ico/weixinzone.png) no-repeat;
}
#article_share_box a.bds_sqq{
    background: url(../image/share_ico/qqfriend.png) no-repeat;
}
#article_share_box a.bds_qzone{
    background: url(../image/share_ico/qqzone.png) no-repeat;
}
#article_share_box a.bds_tsina{
    background: url(../image/share_ico/weibo.png) no-repeat;
}
#article_share_box a.bds_douban{
    background: url(../image/share_ico/douban.png) no-repeat;
}
.weixin_top{
    width: 120px;
    height: 197px;
    position: fixed;
    z-index: 50;
    right: 60px;
    bottom: 140px;
}
.weixin_top .weixin_box{
    width: 120px;
    height: 147px;
    padding: 0px;
    margin: 0px;
    float: left;
}
.weixin_top .top_box{
    width: 120px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    float: left;
}
