.layout{
    width: 1000px;
    margin: 0px auto;
}
.header{
    margin: 0px auto;
    height: 80px;
    padding-top: 15px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.nav_color{
    background-color: #f32613;
    height: 35px;
    margin-bottom: 10px;
    position: relative;
    min-height: 35px;
    border: 1px solid #f32613;
}
.navbar-nav ul{
    height: 33px;
    padding: 0px 10px;
}
.navbar-nav>li>a{
    font-size:large;
    color: white;
    padding: 6px 15px 7px 15px;
}
.navbar-nav>li>a:hover{
    background: #c52513;
}
.navbar-nav>li>a:active{
    background: #c52513;
}
.nav .line {
    background: url(../image/line.png) center no-repeat;
    height: 25px;
    padding: 15px 15px;
    width: 1px;
}
