.layout{
    width: 1000px;
    margin: 0px auto;
}
.left{
    float: left;
}
.right{
    float: right;
}
.part{
    width: 983px;
    margin: 0px auto;
}
.part .title{
    width: 983px;
    height: 66px;
    margin: 30px 0px;
    line-height: 66px;
    vertical-align: middle;
    border-bottom: 1px solid #c7c7c7;
}
.part .title span{
    color: #a9a9a9;
    font-size: 22px;
    font-family: "微软雅黑","黑体";
    line-height: 66px;
    padding-left: 13px;
    border-bottom: 1px solid red;
}
.part .title a{
    color: #c7c7c7;
    font-size: 14px;
    text-decoration: none;
    float: right;

}
.img_center{
    text-align: center;
    background-color: #c7c7c7;
    display: table-cell;
}
.gallery_box{
    padding: 0px;
    margin: 0px;
    height: 235px;
    width: 2100px;
}
.gallery{
    width: 170px;
    height: 235px;
    margin-right: 12px;
    position: relative;
}
.gallery_shadow{
    width: 668px;
    position: absolute;
    left: 0px;
    z-index: 10;
    height: 60px;
    bottom: 0px;
    background: rgba(0,0,0,0.6);
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding: 0 15px;
}
.gallery_shadow span {
    background: #e74866;
    color: #fff;
    font-size: 14px;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    text-align: center;
    width: 40px;
}
.gallery_shadow a {
    color: #fff;
    font-family: "微软雅黑", "Arial","黑体";
    font-size: 18px;
    overflow: hidden;
    margin-left: 10px;
    text-decoration: none;
}