.layout{
    width: 1000px;
    margin: 0px auto;
}
.header{
    margin: 0px auto;
    height: 80px;
    padding-top: 15px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.count{
    width: 290px;
    height: 290px;
    margin: 10px 17px 0px 0px
}
.count .title{
    width: 290px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-family: "微软雅黑", "Arial","黑体";
    font-size: 24px;
    overflow: hidden;
    text-align: center;
    padding-left: 35px;
}
.count .showbox{
    width: 250px;
    height: 165px;
    border-bottom: 1px solid #979797;
    margin-left: 20px;
}
.count .showbox .heart{
    width: 25px;
    height: 165px;
}
.count .showbox .heart img{
    width: 25px;
    height: 22px;
    margin-top: 7px;
}
.count .showbox .man{
    width: 25px;
    height: 165px;
    margin-left: 13px;
}
.count .showbox .man img{
    width: 25px;
    height: 22px;
    margin-top: 7px;
}
.count .context{
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    padding-top: 10px;
}